.home {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  height: 100vh;
  margin: 0px;
  color: white;
  padding: 50px;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  font-size: 1.5rem;
}
.find {
  background-color:yellow;
  margin-top: 2rem;
  color: white;
  font-size: 1.2rem;
  padding: 0.8rem;
}
